@namespace Examples.Component

<div class="@_token.HashId @Name">
    @foreach (var item in Items)
    {
        <div class="item">@item</div>
    }
</div>

@code {
    [Parameter] 
    public string[] Items { get; set; }

    [Parameter]
    public int Width { get; set; } = 500;

    protected override void OnInitialized()
    {
        // use style helper to register style
        StyleHelper.Register(new StyleInfo
        {
            HashId = _token.HashId,
            Path = new string[]{ "component", "demo" },
            StyleFn = UseStyle
        });
    }
}
