@namespace Examples.Component
@inherits AntdComponentBase

@WrapSSR(
    @<div class="@Name">
        @foreach (var item in Items)
        {
        <div class="item">@item</div>
        }
    </div>
, _token)

@code {
    [Parameter] 
    public string[] Items { get; set; }

    [Parameter]
    public int Width { get; set; } = 500;
}
