<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Examples.Basic</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Basic
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="variable">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Variable
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="function">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Function
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="merge">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Merge
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="animation">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Animation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="color-palettes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ColorPalettes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="style">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> StyleTag
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="style-render">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> StyleRender
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
