@page "/animation"

<div class="transform">
    <span class="title">Transform</span>
    <div class="animation"></div>
</div>

<div class="offset">
    <span class="title">Offset</span>
    <div class="animation"></div>
</div>

<Style StyleFn="@CreateTransformStyle"></Style>
<Style StyleFn="@CreateOffsetStyle"></Style>

@code {
    private CSSInterpolation CreateTransformStyle()
    {
        return new CSSObject
        {
            [".transform"] = new CSSObject
            {
                Width = 120,
                Height = 120,
                ["& .title"] = new CSSObject
                {
                    Height = 20,
                    LineHeight = "20px",
                    FontSize = 14
                },
                ["& .animation"] = new CSSObject
                {
                    Width = 100,
                    Height = 100,
                    BackgroundColor = "rgba(0, 0, 255, 0.5)",
                    AnimationDuration = "3s",
                    AnimationName = new Keyframe($"animation-{Guid.NewGuid()}")
                    {
                        ["from"] = new CSSObject()
                        {
                            Transform = "translateX(0px)",
                            Opacity = 1
                        },
                        ["to"] = new CSSObject()
                        {
                            Transform = "translateX(100px)",
                            Opacity = 0.2f
                        }
                    }
                }
            }
        };
    }

    private CSSInterpolation CreateOffsetStyle()
    {
        return new CSSObject
        {
            [".offset"] = new CSSObject
            {
                Width = 120,
                Height = 120,
                MarginTop = 30,
                ["& .title"] = new CSSObject
                {
                    Height = 20,
                    LineHeight = "20px",
                    FontSize = 14
                },
                ["& .animation"] = new CSSObject
                {
                    Width = 100,
                    Height = 100,
                    BackgroundColor = "rgba(0, 0, 255, 0.5)",
                    AnimationDuration = "3s",
                    AnimationName = new Keyframe($"animation-{Guid.NewGuid()}")
                    {
                        ["0%"] = new CSSObject()
                        {
                            Background = "red"
                        },
                        ["72%"] = new CSSObject()
                        {
                            Background = "blue"
                        },
                        ["100%"] = new CSSObject()
                        {
                            Background = "green"
                        }
                    }
                }
            }
        };
    }
}
