@page "/function"

<div class="div">
    <div class="header">header</div>
    <div class="body">
        <div>body</div>
        <div class="container">
            container
        </div>
    </div>
    <div class="footer">footer</div>
</div>

<style>
  @_style
</style>

@code {
    private int _size = 500;
    private string _style = "";

    protected override async Task OnInitializedAsync()
    {
        var css = new CSSObject
        {
            [".div"] = new CSSObject
            {
                Width = $"{_size}px",
                Border = "1px solid #DDD",
                ["& .header"] = new CSSObject
                {
                    Height = "50px",
                    Width = "100%",
                },
                ["& .footer"] = new CSSObject
                {
                    Height = "50px",
                    Width = "100%",
                },
                ["& .body"] = new CSSObject
                {
                    Height = CalcBodyHeight(50, 50),     // normal method
                    Width = "100%",
                    BorderTop = "1px solid #DDD",
                    BorderBottom = "1px solid #DDD",
                    [".container"] = new CSSObject
                    {
                        Height = await GetContainerSizeAsync(), // async method
                        BackgroundColor = "#EFEFEF"

                    },
                }
            }
        };
        _style = css.ToString();
    }

    private int CalcBodyHeight(int header, int footer)
    {
        return _size - header - footer;
    }

    private async Task<int> GetContainerSizeAsync()
    {
        return await Task.FromResult(200);
    }
}
