@page "/"

<div class="basic">
    <div class="title">Title</div>
    <button class="button" @onclick="HandleClick">Click</button>
</div>

<Style Id="basic-css">
    @_css
</Style>

@code
{
    private string _css = string.Empty;

    protected override void OnInitialized()
    {
        _css = new CSSObject
        {
            [".basic"] = new()
            {
                Width = "300px",
                Height = "300px",
                Border = "1px solid #DDD",
                ["& .title"] = new()
                {
                    LineHeight = "20px",
                    Color = "red"
                },
                ["& .button"] = new()
                {
                    Width = "100%",
                    Height = "20px",
                    TextAlign = "center",
                    ["&:hover"] = new()
                    {
                        Color = "blue"
                    }
                }
            }
        }.ToString();
    }

    private void HandleClick()
    {
        Console.WriteLine(_css.ToString());
    }
}
