@page "/"

<div class="basic">
    <div class="title">Title</div>
    <div class="button">Hover</div>
</div>

<Style StyleFn="@GenStyle"></Style>
@code
{
    private CSSInterpolation GenStyle()
    {
        return new CSSObject
        {
            [".basic"] = new CSSObject
            {
                Width = "300px",
                Height = "300px",
                Border = "1px solid #DDD",
                ["& .title"] = new CSSObject()
                {
                    LineHeight = "20px",
                    Color = "red"
                },
                ["& .button"] = new CSSObject()
                {
                    Width = "100%",
                    Height = "20px",
                    TextAlign = "center",
                    ["&:hover"] = new CSSObject()
                    {
                        Color = "blue"
                    }
                }
            }
        };
    }
}
