@page "/merge"

<div class="div1">This is div1</div>
<div class="div2">This is div2</div>
<div class="div3">
    <div class="title">
        This is div3
    </div>
</div>
<div class="div4">
    This is div4
</div>

<Style StyleFn="@GenStyle">
</Style>

@code {
    private CSSInterpolation GenStyle()
    {
        var defaultCss = new CSSObject
        {
            Background = "#EFEFEF",
            FontSize = "14px",
            Border = "1px solid #DDD",
            MarginBottom = "20px"
        };

        // merge with a global css
        var css = new CSSObject
        {
            [".div1"] = new CSSObject
            {
                Width = "100px",
                Height = "100px",
                Color = "red"
            }.Merge(defaultCss),
            [".div2"] = new CSSObject
            {
                Width = "120px",
                Height = "120px",
                Color = "blue"
            }.Merge(defaultCss),
            [".div3"] = new CSSObject
            {
                Width = "120px",
                Height = "120px",
                Color = "blue",
                ["& .title"] = new CSSObject
                {
                    Color = "cadetblue",
                    FontSize = "20px"
                }
            }.Merge(defaultCss),
            [".div4"] = new CSSObject
            {
                ["..."] = defaultCss, // use merge operator
                Width = "120px",
                Height = "120px",
                Color = "green",
            }
        };

        // only override div3 title color
        css.Merge(new CSSObject
        {
            [".div3"] = new CSSObject
            {
                ["& .title"] = new CSSObject
                {
                    Color = "yellow"
                }
            }
        });

        return css;
    }

}
