@page "/style"

<div class="div1">
    Style In Head
</div>

<div class="div2">
    Style In Body
</div>

<!-- style in head -->
<StyleContent>
    <Style StyleFn="@StyleInHead" Path="Basic|StyleTag"></Style>
</StyleContent>

<!--style in body-->
<Style StyleFn="@StyleInBody"></Style>

@code {
    private CSSInterpolation StyleInHead()
    {
        return new CSSObject
        {
            [".div1"] = new CSSObject
            {
                Width = "200px",
                Height = "200px",
                Border = "1px solid #DDD",
            }
        };
    }

    private CSSInterpolation StyleInBody()
    {
        return new CSSObject
        {
            [".div2"] = new CSSObject
            {
                Width = "200px",
                Height = "200px",
                Border = "1px solid #DDD",
                BackgroundColor = "#EFEFEF",
            }
        };
    }
}
